# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Конфиденциальные данные
.env
config_local.py

# Данные и кэш
data/cache/*
data/logs.csv
temp/plots/*

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
